.auth-container {
    /*position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75rem;
    */
    /* transform: translate(0%, 30%);
    width: 75rem;
    margin: 0 auto;
    -webkit-transform: translate(0%, 30%);
    -moz-transform: translate(0%, 30%);
    -ms-transform: translate(0%, 30%);
    -o-transform: translate(0%, 30%); */
    display: flex;
    align-items: center;
    height: 80vh;   
}

.auth-content {
    background: #fff;
    text-align: center;
    max-width: 30rem;
    min-width: 30rem;
    margin: 0 auto;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

.form-group {
    margin: 1rem 0;
}

.form-control {
    width: 100%;
    padding: 0 .5rem;
}

.auth-title {
    font-size: 1.5rem;
    margin: .5rem 0;
}

.auth-lead {
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
    text-decoration: underline;
}

.auth-inner {
    padding: 1rem;
}

.form-control.is-invalid:after {
    border-bottom-color: tomato;
}

.form-control.is-invalid:before {
    border-bottom-color: tomato;
}

.invalid-feedback {
    color: tomato;
    font-size: .7rem;
    margin-top: .2rem;
}

.is-invalid .MuiInput-input-41::placeholder,
.is-invalid .MuiInput-input-42::placeholder,
.is-invalid .MuiInput-input-182::placeholder {
  color: red;
}