.dashboard-container, 
.dashboard-non-profile {
    max-width: 75rem;
    margin: 0 auto;
}

.lead__link {
    color: #0091EA;
    text-decoration: underline;
}

.lead__link:hover {
    color: #40C4FF;
    text-decoration: none;
}

.links-group {
    background: #FAFAFA;
    margin: 1rem 0;
    /* padding: 1rem 0; */
}

.links-group__link {
    text-transform: capitalize;
    color: #37474F;
    font-size: 1rem;
    margin-left: .3rem;
    /*padding: 1rem;
    */padding: .7rem 0;
    transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
}

button.links-group__button {
    padding: 0 1rem;
    min-height: 0;
    /* margin: 0 1rem; */
}

button.links-group__button:hover {
    background: transparent;
}
.dashboard-icons {
    color: #CDDC39;
    font-size: 1.2rem;
    transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
}

.links-group__button:hover .dashboard-icons,
.links-group__button:hover .links-group__link {
    color: #00B0FF;
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

.icon.delete-icon {
    font-size: 2.5rem;
}

.table-title {
    font-size: 1.4rem;
    margin: 3rem 0 1rem 0;
}

.table-dashboard {
    border: .0625rem solid black;
    min-width: 100%;
}

.thead-dashboard th {
    border: .0625rem solid #ccc;
    padding: .5rem 0;
}

.row-tbody {
    border: .0625rem solid #ccc;
}

.row-tbody td {
    border: .0625rem solid #ccc;
    text-align: center;
}

.dashboard-title-non-profile {
    text-align: center;
}

.dashboard-title {
    text-align: left;
}

.dashboard-non-profile {
    display: flex;
    align-items: center;
    padding: 15vh 0;
    transform: translateY(25%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(25%);
    -ms-transform: translateY(25%);
    -o-transform: translateY(25%);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.dashboard-container {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    padding: 1rem 2rem 2rem 2rem;
    margin-top: 4rem;
}

.dashboard-container-non-profile {
    margin: 0 auto;
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
}
.lead--muted {
    font-size: 1.2rem;
}
.lead--muted span {
    font-style: italic;
    font-weight: bold;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}