.post-form-title {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
}

.text-info-btn {
    color: #2962FF;
}

.feed-container {
    max-width: 75rem;
    padding: 1rem;
    margin: 4rem auto;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.post-item__container {
    border-bottom: .0625rem solid #ccc;
    margin: 1rem 0;
    padding: 1rem;
    margin-top: 2rem;
    /* background: blue; */
}

.post-item__link {
    display: flex;
    flex: 1 0 auto;
}

.post-item__text {
    margin-left: .5rem;
    font-size: 1.2rem;
}

div.post-item__content {
    display: flex;
}

.post-item__lead-text {
    margin-top: 1.5rem;
    margin-left: 3rem;
    width: 100%;
}

.post-item__inner-content {
    /* align-self: flex-end; */
}

.post-item__buttons {
    display: flex;
}

.post-item__right {
    margin-left: auto;
}

.post-item__likes-count {
    font-size: 1.5rem;
    color: #1B5E20;
}

.comment-icon {
    display: none;
}

.comment-button {
    min-width: 5.5rem;
}

.link-to-id {
    padding: 8px 16px;
}

@media screen and (min-width: 768rem) {
    .feed-container {
        margin: 4rem auto;
    }

    .post-item__link {
        margin: auto;
        flex-direction: row;
    }

    div.post-item__content {
        flex-direction: row;
    } 

    .post-item__text {
        margin-left: .5rem;
        margin-bottom: 0;
    }

    .post-item__lead-text {
        /* align-self: flex-start; */
    }

    .post-item__lead-text {
        margin-left: 3rem;
    }

    .comment-text {
        display: inline;
    }

    span.comment-icon {
        display: none;
    }

    button.comment-button {
        min-width: 5.5rem;
    }

    .link-to-id {
        padding: 8px 16px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .feed-container {
        margin: 0 auto;
    }

    .post-item__link {
        flex-direction: column-reverse;
        margin: .5rem auto;
    }

    .post-item__text {
        margin-left: 0;
        margin-bottom: .5rem;
    }

    .post-item__content {
        flex-direction: column;
    } 

    .post-item__lead-text {
        margin-left: 0;
    }

    .comment-text {
        display: none;
    }

    .comment-icon {
        display: block;
        transform: translateY(15%);
    }

    button.comment-button {
        min-width: 2rem;
        max-width: 2rem;
    }

    .link-to-id {
        padding: 2px 8px;
    }
}