.profile-container {
    max-width: 75rem;
    background: #fff;
    margin: 1rem auto 4rem;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 1rem;
}

.profile-container2 {
    margin-bottom: 0;
    padding: 1rem 2rem 2rem 2rem;
}

.profile-container2:before {
    content: '';
    background: url('../../img/profile-bg.png') no-repeat;
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: 0;
    background-position: center;
    height: 15rem;
    top: 0;
    left: 0;
} 

.profile-link-back {
    max-width: 75rem;
    margin: 2rem auto;
}

.profile-image-block {
    margin-top: 7rem;
}

.headerProfile-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.headerProfile-data__name {
    font-weight: 500;
    margin: 0;
}

.headerProfile-data__status {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 400;
}

.headerProfile-data__location {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 1rem;
    opacity: .7;
}

.headerProfile-data__right {
    align-self: baseline;
}

.headerProfile-data__right-text {
    font-size: 1.5rem;
}

.headerProfile-data__socials {
    margin-top: 1rem;
}

.headerProfile-link {
    margin: 0 .3rem;
    color: #2196F3;
}

.headerProfile-link:hover {
    color: #1976D2;
}

.headerAbout-container,
.headerGitgub-container {
    box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.1), 0px 2px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    margin-top: 0;
    background: #fafbfc;   
    padding: 1rem; 
}

.headerCreds-container {
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

.headerCreds-content {
    box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.1), 0px 2px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
    min-width: 49%;
    max-width: 49%;
    background: #fafbfc;   
    padding: 0 1rem; 
}

.headerAbout-text-center,
.headerCreds-text-center,
.headerGitgub-text-center {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    color: #2962FF;
}

.headerCreds-subtitle {
    font-size: 1.3rem;
    font-weight: 500;
}

.headerCreds-text {
    margin: 1rem 0;
}

.headerAbout-text-lead {
    padding: 1.5rem 0 1rem 0;
}

.headerAbout-skill__list {
    display: flex;
    margin: 1rem 0;
}

.headerAbout-skill__item {
    margin-right: 1rem;
}

.headerAbout-skill__item span {
    font-size: 1.2rem;
}

.headerAbout-skill__item i {
    font-size: .9rem;
}

.headerGitgub-repos {
    border-bottom: .0625rem solid black;
    padding: 1rem .5rem .3rem .5rem;
    margin: 1rem 0;
}

.headerGitgub-repos__item {
    display: flex;
    justify-content: space-between;
}

.headerGitgub-repos__name {
    font-size: 1.3rem;
}

.headerGitgub-repos__link {
    color: #2196F3;
}

.headerGitgub-repos__link:hover {
    color: #1976D2;
}

.headerGitgub-repos__cred {
    margin-left: 6rem;
    display: inline-block;
    padding: .2rem .5rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}

.headerGitgub-repos__cred.yellow {
    background: #FFEB3B;
    color: #000;
}

.headerGitgub-repos__cred.green {
    background: #76FF03;
    color: #000;
}

.headerGitgub-repos__cred.purple {
    background: #C51162;
    color: #fff;
}