.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    max-width: 75rem;
    margin: 0 auto;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    position: relative;
    display: flex;
    align-items: center;
    /* background: url('../../img/SocialNetwordForDevelopers.png') no-repeat;
    background-size: 40%;
    background-position: 50% 100%; */
}

.navbar-logo-image {
    max-width: 4rem;
    /* display: inline-block; */
}

.navbar-logo-text {
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 600;
}

.navbar-logo:hover {
    /* color: #FFF59D; */
    transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
}

.navbar-list:last-child {
    margin-left: auto;
    display: flex;
}

.navbar-list:nth-child(2) {
    margin-left: 2rem;
}

.navbar-list__link {
    color: #fff;
    font-size: 1.2rem;
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    display: block;
    padding: .5rem 0;
}

.navbar-list__link:hover {
    color: #CCFF90;
    transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
}

.navbar-list__item.sign-up {
    margin-right: 1.5rem;
}

.navbar-list__link.selected-item {
    color: yellow;
    text-decoration: underline;
}

.navbar-list__button.MuiButton-textSecondary-4:hover {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-list__button.MuiButton-root-1 {
    padding: 0;
    min-height: 0;
}

.authLinks {
    display: flex;
    align-items: center;
}