.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 120rem;
    min-width: 20rem;
    position: relative;
}

.header {
    max-width: 120rem;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background: #3F51B5;
    order: -1;
    width: 100%;
}

.landing {
    flex: 1 1 auto;
    order: 2;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: url('../../img/computer-science.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 0;
}

.auth {
    flex: 1 1 auto;
    order: 2;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.create-profile {
    flex: 1 1 auto;
    order: 2;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.dashboard {
    flex: 1 1 auto;
    order: 2;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.footer {
    flex: 0 0 auto;
    order: 4;
}