.add-credentials__container {
    margin: 4rem auto;
    background: #fff;
    max-width: 75rem;
    padding: 3rem 0;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.add-credentials__content {
    max-width: 50rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

p.text-center {
    margin-bottom: 2rem;
}

.small-require {
    color: tomato;
}