.add-credentials__container {
    margin: 4rem 0;
}

.add-credentials__content {
    max-width: 50rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

p.text-center {
    margin-bottom: 2rem;
}

.small-require {
    color: tomato;
}